@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'BlackClover';
    src: url('../assets/fonts/BlackCloverFont.woff') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --cor-default: #fff;
    --cor-default2: black;
    --font-blackcover: 'BlackClover';
    --font-default: "Roboto", sans-serif;

    /*cores tematicas no anime*/

    /*asta criança*/
    --asta-color1: #BDBDB0;
    --asta-color2: #3F4831;
    --asta-color3: #282923;
    --asta-color4: #9F8C79;
    --asta-color5: #483835;

    /*asta adulto*/

    --astaG-color1: #222222;
    --astaG-color2: #EFE2C6;
    --astaG-color3: #3A5A7E;
    --astaG-color4: #905A32;
    --astaG-color5: #BFA445;
    --astaG-color6: #B8B8C5;
    --astaG-color7: #B33A34;
    --astaG-color8: #635348;
    --astaG-color9: #3C3B32;
    --astaG-color10: #F7C89D;

    /*asta demonio*/

    --astaD-color1: #B11011;
    --astaD-color2: #E13C2D;
    --astaD-color3: #F72E2E;
    --astaD-color4: #6B0F0D;
    --astaD-color5: #F86442;
    --astaD-color6: #DDA24D;
    --astaD-color7: #060606;
    --astaD-color8: #1B0C0C;
    --astaD-color9: #353437;

}

/*HEADER*/

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background-color: var(--cor-default);
    z-index: 100000000000;


    background-image: url('../assets/imagens/textura-nav.png');
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
    cursor: pointer;
}

.nav-logo h1 {
    font-family: var(--font-blackcover);
    font-size: 2.6rem;
}

.nav-logo img {
    height: 25px;
}

.nav-links ul {
    display: flex;
    gap: 2vw;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    font-size: 0.95rem;
    font-weight: 500;
    color: var(--cor-default2);
}

.nav-links ul li a:hover {
    color: var(--astaD-color1);
}

.selected {
    color: var(--astaD-color1) !important;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.nav-buttons img {
    height: 65px;
    border-radius: 50%;
    border: 1px solid var(--astaD-color6);
}

.nav-buttons button {
    padding: 1vh 2vw;
    cursor: pointer;
    transition: 0.3s;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    font-weight: 600;
}

.btn-login {
    background-color: var(--asta-color3);
    color: var(--cor-default);
}

.btn-login:hover {
    background-color: var(--cor-default);
    color: var(--cor-default2);
}

.btn-cadastrar {
    background-color: transparent;
}

.btn-cadastrar:hover {
    background-color: var(--astaD-color1);
    border: 1px solid rgba(0, 0, 0, 0.0);
    color: var(--cor-default);
}

.nav-disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.nav-disabled:hover {
    color: inherit !important;
}

/*perfil*/

.container-perfil {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 90%;
    right: 2%;

    height: 30vh;
    width: 20%;
    background-color: #000000d8;
    border: 2px solid var(--astaD-color6);
    border-radius: 0.8rem;
    z-index: 1000000000000;
}

.container-perfil .fa-circle-xmark {
    position: absolute;
    top: 6%;
    right: 6%;

    font-size: 1.2rem;
    color: white;

    cursor: pointer;
    transition: 0.3s;
}

.container-perfil .fa-circle-xmark:hover {
    color: var(--astaD-color1);
}

.container-perfil-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 90%;
}

.container-perfil-title h1 {
    font-size: 1.3rem;
    color: white;
}

.perfil-title-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 40%;
}

.perfil-title-right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 60%;
    gap: 1vh;
}

.perfil-title-right h1 {
    padding: 0;
    margin: 0;

    font-size: 1.3rem;
    color: white;
}

.perfil-title-right span {
    color: var(--astaD-color6);
    font-weight: 600;
}

.perfil-title-left img {
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--astaD-color6);
}

.divisao-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 85%;
    gap: 0.5vw;
}

.divisao-perfil span {
    background-color: var(--astaD-color6);
    height: 10%;
    width: 38%;
}

.divisao-perfil img {
    height: 25px;
}

.content-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    width: 85%;
}

.content-perfil-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60%;
    width: 90%;
    gap: 0.2vw;
}

.content-perfil-info i {
    font-size: 1.1rem;
    color: var(--astaD-color6);
}

.content-perfil-info h6 {
    margin: 0;
    padding: 0;

    font-size: 1rem;
    color: var(--astaD-color6);
}

.content-perfil-info h6 span {
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
}

.content-perfil-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    width: 90%;
}

.content-perfil-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 68%;
    gap: 0.5vw;

    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(255, 255, 255);

    background-color: #881917;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: 0.3s;
}

.content-perfil-button button:hover {
    background-color: var(--astaD-color4);
    transform: scale(0.98);
}

/*logado comportamento*/

#nav-buttons img {
    cursor: pointer;
    border-radius: 50%;

    transition: 0.3s;
}

#nav-buttons img:hover {
    transform: scale(1.1) rotate(15deg);
}

/*logado admin comportamento*/

.btn-admin {
    padding: 0 1vw !important;
    height: 5vh !important;

    cursor: pointer;
    transition: 0.3s;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    font-weight: 600;
}

.btn-admin:hover {
    background-color: var(--astaD-color1);
    border: 1px solid rgba(0, 0, 0, 0.0);
    color: var(--cor-default);
}

/*divisao-nav*/

.div-nav {
    height: 10vh;
    width: 100%;
}

/*main*/

.container-historia {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90vh;
    width: 100%;

    background-image: url('../assets/imagens/historia-main.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content-historia {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80%;
    width: 90%;
}

.content-historia-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 45%;
}

.historia-left-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 40%;
    width: 100%;
}

.historia-left-title h1 {
    text-align: justify;
    font-size: 6rem;
}

.historia-left-title h1 span {
    color: var(--astaD-color1);
}

.divisao-historia-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;

    height: 2%;
    width: 80%;
}

.divisao-historia-left img {
    height: 20px;
}

.divisao-historia-left span {
    height: 2px;
    width: 50%;
    background: linear-gradient(to right, transparent, var(--astaD-color1), transparent);
}

.historia-left-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    height: 40%;
    width: 100%;
}

.historia-left-text h3 {
    font-size: 2rem;
    color: #905A32;
}

.historia-left-text p {
    width: 80%;

    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.content-historia-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 45%;
}

/*divisao section*/

/*section introducao*/

.container-introducao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    background-image: url('../assets/imagens/historia_image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.content-intro-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 35%;
    width: 90%;
}

.content-intro-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30%;
    width: 100%;
}

.content-intro-title img {
    height: 60px;
}

.content-intro-title h1 {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    font-size: 2.5rem;
}

.content-intro-title h1 span {
    font-size: 3.5rem;
    color: var(--astaD-color1);
}

.intro-top-divisao {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 3%;
    width: 88%;
    gap: 0.5vw;
}

.intro-top-divisao span {
    height: 2px;
    width: 50%;
    background: linear-gradient(to right, var(--astaD-color1), transparent);
}

.intro-top-divisao img {
    height: 20px;
}

.content-intro-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 95%;
}

.content-intro-text p {
    text-align: justify;
    width: 45%;

    line-height: 25px;

    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.699);
}

.content-intro-text p span {
    color: var(--astaD-color1);
}

.content-intro-mid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55%;
    width: 90%;
}

.intro-mid-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 31%;
    height: 95%;

    background-image: url('../assets/imagens/historia-intro-card.png');
    background-size: 99% 100%;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.intro-box-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12%;
}

.intro-box-title h4{
    font-size: 1.4rem;
    color: var(--asta-color4);

    letter-spacing: 5px;
}

.intro-box-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 98%;
    height: 88%;
}

.intro-box-conteudo-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.i-b-conteudo-top-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.i-b-conteudo-top-left img{
    height: 70%;
}

.i-b-conteudo-top-right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
}

.i-b-conteudo-top-right p{
    text-align: justify;
    width: 80%;

    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.i-b-conteudo-top-right p span{
    font-weight: 900;
}

.content-intro-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    width: 90%;
}

.intro-box-conteudo-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40%;
}

.i-b-conteudo-bottom-msg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    width: 80%;

    padding: 1vh 0.6vw;

    border: 2px solid var(--asta-color4);
    border-radius: 10px;
}

.i-b-conteudo-bottom-msg img{
    height: 55px;
}

.i-b-conteudo-bottom-msg p span{
    font-weight: 800;
    color: var(--astaD-color1);
}


.i-b-conteudo-bottom-icones{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 90%;
    width: 80%;
}

.conteudo-bottom-icones-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    gap: 0.5vw;
}

.conteudo-bottom-icones-text p{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;

    width: 60%;

    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);

    line-height: 1.8;
}

.conteudo-bottom-icones-text p span{
    display: flex;
    gap: 0.5vw;

}

.conteudo-bottom-icones-text p i{
    color: var(--astaD-color1);
    font-size: 1.2rem;
}

/*linha temporal*/

.container-linhaTemporal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    background-image: url('../assets/imagens/historia_image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container-linhaTemporal-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;

    gap: 1vw;
}

.container-linhaTemporal-title img{
    height: 40px;
}

.container-linhaTemporal-title h1 {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    font-size: 3rem;
}

.content-linhaTemporal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.content-lT-top, .content-lT-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    width: 92%;
}

.content-lT-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 92%;
}

.box-lT{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;

    height: 100%;
    width: 17%;

    background-image: url('../assets/imagens/historia-linhaTemporal-card.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-radius: 10px;

    cursor: pointer;
    transition: 0.3s;
}

.box-lT:hover{
    transform: scale(1.02);
}

.box-lT-title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 15%;
    width: 90%;
}

.box-lT-title h6{
    padding: 0;
    margin: 0;

    font-size: 1.2rem;
    color: white;
}

.box-lT-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    width: 85%;
}

.box-lT-image img{
    height: 90%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--asta-color4);
}

.box-lT-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 48%;
    width: 80%;
}

.box-lT-text h4{
    margin: 0;
    padding: 0;
}

.box-lT-text p{
    text-align: justify;

    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.76);
}

/*section personagens*/

.container-personagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    background-image: url('../assets/imagens/historia_image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container-personagens-title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 90%;
    height: 15%;
}

.container-personagens-title h1{
    margin: 0;
    padding: 0;

    font-size: 3.5rem;
}

.container-personagens-title h1 span{
    font-family: var(--font-blackcover);
    color: var(--astaD-color1);
}

.content-personagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 85%;

    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: #8b0000 transparent;
}

.content-personagens-filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

    width: 95%;
    height: 15%;
}

.content-personagens-filtros button{
    padding: 0.7rem 3rem;
    border-radius: 10px;

    background-color: transparent;
    border: none;

    font-size: 1rem;
    color: white;
    font-weight: 600;
    
    cursor: pointer;
    transition: 0.3s;
}

.content-personagens-filtros button:hover{
    background-color: var(--astaD-color1);
}

.btn_filtro.active{
    background-color: var(--astaD-color1);
}

.content-personagens-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1vw;

    width: 95%;
    height: 70%;

    overflow-y: auto;
    border-radius: 10px;
}

.p-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    height: 50%;

    position: relative;

    background-image: url('../assets/imagens/historia-linhaTemporal-card.png');
    background-size: 100% 100%;

    border-radius: 10px;

    cursor: pointer;
    transition: 0.3s;

    border: 4px solid rgba(0, 0, 0, 0);
}

.p-card:hover{
    border: 4px solid rgba(0, 0, 0, 0.4);
}

.p-card-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 98%;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.p-card-image img{
    height: 100%;
}

.p-card span{
    position: absolute;
    top: 5%;
    left: 6%;

    height: 15%;
    width: 15%;

    background-color: rgb(0, 0, 0);
    border-radius: 7px;
}

.clover span{
    background-image: url('../assets/icones/clover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

.touros span{
    background-image: url('../assets/icones/touros_negros.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

.vilao span{
    background-image: url('../assets/icones/olho_soL.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}


.clover .p-card-image{
    background-image: url('../assets/imagens/card-vila-hage.png');
    background-size: 100% 100%;
}

.touros .p-card-image{
    background-image: url('../assets/imagens/card-touros-negros.png');
    background-size: 100% 100%;
}

.vilao .p-card-image{
    background-image: url('../assets/imagens/inimigo_card.png');
    background-size: 100% 100%;
}

.p-card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 48%;
    width: 99%;
}

.p-card-title h2{
    padding: 0;
    margin: 0;

    height: 20%;

    font-size: 1.2rem;
}

.p-card-title p{
    display: flex;
    align-items: flex-start;
    text-align: center;
    height: 50%;
    width: 80%;

    font-size: 0.8rem;
}

.content-personagens-mensagem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

    width: 95%;
    height: 10%;
}

/*section esquadrões*/

.container-esquadroes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 90vh;

    background-image: url('../assets/imagens/historia_image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container-esq-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

    width: 90%;
    height: 10%;
}

.container-esq-title h1{
    font-size: 3rem;
}

.container-esq-title img{
    height: 40px;
}

.content-esq{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90%;
    height: 80%;
}

.content-esq-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    width: 100%;
    height: 50%;
}

.esq-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 17%;
    height: 90%;
    border-radius: 5px;

    background-image: url('../assets/imagens/historia_esquadroes_card.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    cursor: pointer;
    transition: 0.3s;
}

.esq-card:hover{
    transform: scale(0.98);
}

.esq-card-title{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 10%;
}

.esq-card-title h1{
    font-size: 1.3rem;
}

.esq-card-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 90%;
    height: 50%;
}

.esq-card-conteudo img{
    height: 130px;
}

.esq-card-conteudo p{
    
    width: 40%;

    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.esq-card-text{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 30%;

    gap: 1vw;
}

.esq-card-text-left, .esq-card-text-right{
    display: flex;
    height: 65%;
    width: 30%;
}

.esq-card-text-left{
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.esq-card-text-left h4{
    margin: 0;
    padding: 0;

    color: var(--astaD-color1);
}

.esq-card-text-left h5{
    margin: 0;
    padding: 0;
}

.esq-card-text-right{
    align-items: center;
    justify-content: center;
}

.esq-card-text-right img{
    height: 100%;
}

/*section asta*/

.container-asta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 90vh;
    width: 100%;

    background-image: url('../assets/imagens/historia_image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-bottom: 8px solid var(--asta-color4);

        transform: translateY(-0.2%);
}

.container-asta-title{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;
    width: 90%;
}


.container-asta-title h1{
    font-size: 3.5rem;
}

.container-asta-title h1 span{
    color: var(--astaD-color1);
    font-family: var(--font-blackcover);
}

.content-asta{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: relative;

    height: 80%;
    width: 90%;
}

.content-asta-image{
    position: absolute;
    top: -5%;
    left: -3%;
    height: 80%;

    border-radius: 50%;

    z-index: 1;
}

.content-asta-p{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 50%;
    width: 70%;
}

.asta-p-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    height: 65%;
    width: 45%;

    background-image: url('../assets/imagens/card-poderes.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    z-index: 2;

    border-radius: 10px;

    cursor: pointer;
    transition: 0.3s;
}

.asta-p-box-title, .asta-s-box-title{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 90%;
    height: 15%;
}

.asta-p-box-title h1, .asta-s-box-title h2{
    color: var(--astaD-color1);
}

.asta-p-box-conteudo, .asta-s-box-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 95%;
}

.asta-p-box-conteudo img{
    height: 150px;
}

.asta-p-box-conteudo p{
    width: 66%;
    font-weight: 600;
}

.asta-p-box-conteudo p span, .asta-s-box-conteudo p span{
    color: var(--astaD-color1);
}


.content-asta-divisao{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5%;
    width: 80%;
}

.content-asta-divisao h1 span{
    color: var(--astaD-color1);
}

.content-asta-s{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 40%;
    width: 85%;
}

.asta-s-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 65%;
    width: 24%;

    background-image: url('../assets/imagens/card-poderes.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-radius: 10px;

    cursor: pointer;
    transition: 0.3s;

    z-index: 2;
}

.asta-s-box-conteudo img{
    height: 80px;
}

.asta-s-box-conteudo p{
    width: 65%;
    font-weight: 600;

    font-size: 0.8rem;
}

.asta-p-box:hover,
.asta-s-box:hover{
    transform: scale(0.98);
}

/*footer*/

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;

    background-image: url('../assets/imagens/textura-nav.png');
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 90%;
    width: 75%;
}

.content-footer-t {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 100%;
}

.content-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

.footer-top-column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 90%;
}

.footer-logo {
    font-family: var(--font-blackcover);
    font-size: 2.6rem;

    cursor: pointer;
    transition: 0.5s;
}

.footer-logo:hover {
    color: #000000a2;
}

.footer-logo img {
    height: 25px;
}

.footer-top-column-2,
.footer-top-column-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 90%;
}

.footer-top-column-2 h1,
.footer-top-column-3 h1 {
    font-size: 1.6rem;

    cursor: pointer;
    transition: 0.5s;
}

.footer-top-column-2 h1:hover,
.footer-top-column-3 h1:hover {
    color: #000000a2;
}

.content-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.footer-column-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 30%;
    height: 90%;
}

.footer-column-bottom p {
    text-align: justify;
    font-weight: 500;

    color: #060606c7;
    cursor: pointer;
    transition: 0.3s;
}

.footer-column-bottom p:hover {
    transform: scale(1.02);
}

.footer-column-bottom ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 85%;
    width: 100%;
    gap: 3vw;
    list-style: none;
}

.footer-column-bottom ul li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1vh;
}

.footer-column-bottom ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #060606c7;

    transition: 0.3s;
    cursor: pointer;
}

.footer-column-bottom ul li a:hover {
    color: var(--astaD-color1);
}

.footer-column-bottom-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 30%;
    height: 90%;
}

.footer-column-bottom-2 ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 85%;
    width: 80%;
    list-style: none;
    gap: 1vh;
}

.footer-column-bottom-2 ul li {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.footer-column-bottom-2 ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #060606c7;

    transition: 0.3s;
    cursor: pointer;
}

.footer-column-bottom-2 ul li a:hover {
    color: var(--astaD-color1);
}

.content-footer-b {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    border-top: 1px solid black;
}

.content-footer-b p {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
}