@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'BlackClover';
    src: url('../assets/fonts/BlackCloverFont.woff') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --cor-default: #fff;
    --cor-default2: black;
    --font-blackcover: 'BlackClover';
    --font-default: "Roboto", sans-serif;

    /*cores tematicas no anime*/

    /*asta criança*/
    --asta-color1: #BDBDB0;
    --asta-color2: #3F4831;
    --asta-color3: #282923;
    --asta-color4: #9F8C79;
    --asta-color5: #483835;

    /*asta adulto*/

    --astaG-color1: #222222;
    --astaG-color2: #EFE2C6;
    --astaG-color3: #3A5A7E;
    --astaG-color4: #905A32;
    --astaG-color5: #BFA445;
    --astaG-color6: #B8B8C5;
    --astaG-color7: #B33A34;
    --astaG-color8: #635348;
    --astaG-color9: #3C3B32;
    --astaG-color10: #F7C89D;

    /*asta demonio*/

    --astaD-color1: #B11011;
    --astaD-color2: #E13C2D;
    --astaD-color3: #F72E2E;
    --astaD-color4: #6B0F0D;
    --astaD-color5: #F86442;
    --astaD-color6: #DDA24D;
    --astaD-color7: #060606;
    --astaD-color8: #1B0C0C;
    --astaD-color9: #353437;

}

/*HEADER*/

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background-color: var(--cor-default);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    z-index: 100000000000;


    background-image: url('../assets/imgs/textura-nav.png');
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
    cursor: pointer;
}

.nav-logo h1 {
    font-family: var(--font-blackcover);
    font-size: 2.6rem;
}

.nav-logo img {
    height: 25px;
}

.nav-links ul {
    display: flex;
    gap: 2vw;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    font-size: 0.95rem;
    font-weight: 500;
    color: var(--cor-default2);
}

.nav-links ul li a:hover {
    color: var(--astaD-color1);
}

.selected {
    color: var(--astaD-color1) !important;
}

.nav-buttons {
    display: flex;
    gap: 1vw;
}

.nav-buttons button {
    padding: 1vh 2vw;
    cursor: pointer;
    transition: 0.3s;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    font-weight: 600;
}

.btn-login {
    background-color: var(--asta-color3);
    color: var(--cor-default);
}

.btn-login:hover {
    background-color: var(--cor-default);
    color: var(--cor-default2);
}

.btn-cadastrar {
    background-color: transparent;
}

.btn-cadastrar:hover {
    background-color: var(--astaD-color1);
    color: var(--cor-default);
}

.div-nav {
    height: 10vh;
    width: 100%;
}

.nav-disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.nav-disabled:hover {
    color: inherit !important;
}

/*MAIN*/

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    background-image: url('../assets/imgs/imagem-home.png');
    background-repeat: no-repeat;
    background-size: 100%;

    border-bottom: 8px solid var(--asta-color4);
}

.content-main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.content-main-top,
.content-main-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
    width: 50%;
}

.main-top-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
}

.main-top-row h1 {
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 7rem;

    text-align: justify;
}

.main-top-row-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 10%;
    height: 100%;
}

.main-top-row-left span {
    font-size: 4rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.main-top-row-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
}

.main-top-row-right span {
    font-size: 13rem;
    font-weight: 600;
    color: var(--astaD-color1);
}

.main-bottom-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 32%;
    width: 100%;
}

.main-bottom-row p {
    text-align: justify;
    width: 68%;

    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}

.main-bottom-row button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    width: 68%;

    font-size: 2.4rem;
    font-family: var(--font-blackcover);
    color: rgb(0, 0, 0);

    background-color: transparent;
    border: 3px solid var(--astaD-color1);
    border-radius: 15px;

    cursor: pointer;
    transition: 0.3s;
}


.main-bottom-row button i {
    color: inherit;
}

.main-bottom-row button img {
    height: 60%;
}

.main-bottom-row button:hover {
    background-color: var(--astaD-color1);
    color: white;
    border: none;
}

.main-bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 18%;
    height: 100%;
    gap: 1vw;
}


.main-bottom-box img {
    height: 80%;
}

/*section*/

.container-motivacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    background-image: url('../assets/imgs/imagem-motivacao.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 8px solid var(--asta-color4);
}

.container-motivacao-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10%;
    width: 90%;
}

.motivacao-title-top img {
    height: 15px;
}

.motivacao-title-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 90%;
    gap: 2vw;
}

.motivacao-text h1 {
    font-size: 2.2rem;
    color: var(--astaD-color1);
}

.linha-left,
.linha-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 10%;
    background: linear-gradient(to right, transparent, var(--astaD-color1), transparent);
}

.linha-left img,
.linha-right img {
    height: 30px;
}


.content-motivacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 90%;
}

.content-motivacao-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 90%;
}

.content-motivacao-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 90%;
}

.motivao-left-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40%;
    border-bottom: 4px solid var(--astaD-color1);
}

.motivao-left-title span {
    font-size: 3.2rem;
}

.motivao-left-title span strong {
    font-size: 6rem;
    color: var(--astaD-color1);
}

.motivacao-left-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 20%;
    gap: 0.5vh;
    margin-top: 2%;
}

.m-row-left-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}

.m-row-left-title img {
    height: 30px;
}

.m-row-left-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 91.7%;
    height: 80%;
    border-left: 3px solid #ff0000;
}

.m-row-left-description {
    text-align: justify;
    padding: 0rem 2rem;

    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
}

.m-right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
    overflow: visible;

    background-image: url('../assets/imgs/asta_motivacao.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.m-right-mensagem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 30%;

    background-image: url('../assets/imgs/papel-motivacao.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105% 215%;
}

.m-right-mensagem-banner {
    width: 25%;
    height: 100%;
}


.m-right-mensagem-banner img {
    transform: translate(10%);
    height: 111%;
    border-radius: 10px;
}

.m-right-mensagem-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

.m-right-mensagem-text p {
    text-align: justify;

    font-style: italic;
    font-weight: 400;
    font-size: 1.3rem;
}

.m-right-mensagem-text p strong {
    color: var(--astaD-color1);
}

.m-right-mensagem-text span {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--astaD-color1);
}

/*
quiz
*/

.container-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    background-image: url('../assets/imgs/imagem-quiz.png');
    background-repeat: no-repeat;
    background-size: 100%;

    border-bottom: 8px solid var(--asta-color4);
}

.container-quiz-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10%;
    width: 90%;
}

.quiz-title-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 90%;
    gap: 2vw;
}

.quiz-text h1 {
    font-size: 2.2rem;
    color: var(--astaD-color1);
}

.linha-left,
.linha-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 10%;
    background: linear-gradient(to right, transparent, var(--astaD-color1), transparent);
}

.linha-left img,
.linha-right img {
    height: 30px;
}

.content-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 90%;
}

.content-quiz-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 90%;
}

.quiz-left-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35%;
    width: 100%;
    border-bottom: 4px solid var(--astaD-color1);
}

.quiz-left-title h1 {
    font-size: 4rem;
}

.quiz-left-title h1 span {
    font-size: 6rem;
    color: var(--astaD-color1);
}

.quiz-left-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30%;
    width: 100%;
}

.quiz-left-row p {
    font-size: 2rem;
    color: #060606c0;
}

.quiz-left-row p span {
    font-weight: 600;
    color: var(--astaD-color1);
}

.quiz-left-row button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    width: 68%;

    font-size: 2.4rem;
    font-family: var(--font-blackcover);
    color: rgb(0, 0, 0);

    background-color: transparent;
    border: 3px solid var(--astaD-color1);
    border-radius: 15px;

    cursor: pointer;
    transition: 0.3s;
}

.quiz-left-row button img {
    height: 50px;
}

.quiz-left-row button:hover {
    background-color: var(--astaD-color1);
    border: none;
    color: white;
}


.content-quiz-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 90%;
}

.content-quiz-right span {
    height: 100%;
    width: 100%;
    transform: translate(15%, -10%);

    background-image: url('../assets/imgs/asta_vertical.png');
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.content-quiz-right span:hover {
    background-image: url('../assets/imgs/asta_vertical2.webp');
    transform: translate(15%, 0%);
}

.container-personagens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    background-image: url('../assets/imgs/imagem-personagens.png');
    background-repeat: no-repeat;
    background-size: 100%;

    border-bottom: 8px solid var(--asta-color4);
}

.container-personagens-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.personagens-title-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 90%;
    gap: 2vw;
}

.personagens-text h1 {
    font-size: 2.2rem;
    color: var(--astaD-color1);
}

.linha-left,
.linha-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 10%;
    background: linear-gradient(to right, transparent, var(--astaD-color1), transparent);
}

.linha-left img,
.linha-right img {
    height: 30px;
}

.content-personagens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 85%;
}

.personagens-divisao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10%;
    width: 100%;
}

.personagens-divisao span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 5%;
    background-color: var(--astaD-color1);
}

.personagens-divisao span img {
    height: 30px;
    transform: translateX(180%);
}

.personagens-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.box-title-personagens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 25%;
}

.box-title-personagens h1 {
    font-size: 3rem;
    text-align: center;
}

.box-title-personagens h1 span {
    font-size: 4rem;
    color: var(--astaD-color1);
}

.box-cards-personagens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 75%;
}

.card-personagens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;


    height: 100%;
    width: 22%;
    border-radius: 50px;

    background-image: url('../assets/imgs/card-vila-hage.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    padding: 1rem;

    cursor: pointer;
    transition: 0.3s;
}

.card-personagens-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    height: 100%;
    width: 22%;
    border-radius: 50px;

    background-image: url('../assets/imgs/card-touros-negros.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    padding: 1rem;

    cursor: pointer;
    transition: 0.3s;
}

.card-personagens img,
.card-personagens-2 img {
    height: 90%;
    width: 100%;
    transform: translate(-2%, -2%);
    border-radius: 80px;
}

.card-personagens h1 {
    position: absolute;
    bottom: -6%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 65%;
    height: 14%;
    background-color: #6b0f0de5;
    border-radius: 10px;

    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.card-personagens-2 h1 {
    position: absolute;
    bottom: -6%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 65%;
    height: 14%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;

    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.card-personagens:hover,
.card-personagens-2:hover {
    transform: scale(1.05);
}

/*logar*/

.container-logar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    background-image: url('../assets/imgs/imagem-logar.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.content-logar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 90%;
}

.content-logar-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.mensagem-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 65%;
}

.mensagem-login-box {
    height: 30%;
    width: 100%;
}

.mensagem-login-box span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    font-size: 3.5rem;
}

.mensagem-login-box span button {
    padding: 1rem;
    width: 12vw;

    background-color: transparent;
    border: none;
    border-radius: 15px;

    font-size: 3.5rem;
    color: var(--asta-color2);
    font-weight: 700;

    cursor: pointer;
    transition: 0.3s;
}

.btn-logar-c {
    width: 25vw !important;
}

.mensagem-login-box span button:hover {
    background-color: var(--asta-color2);
    color: white;
}

.espaco-mensagem-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 15%;
}

.content-logar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    height: 35%;
}

.box-logar-placar,
.box-logar-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 45%;
    border: 3px solid #000;
}

.box-logar-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;

    background-color: var(--asta-color2);
    border-right: 3px solid;
}

.box-logar-icone i {
    font-size: 5rem;
    color: white;
}

.box-logar-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.box-logar-text-title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 90%;
    height: 30%;
}

.box-logar-text-title h1 {
    color: var(--asta-color2);
}

.box-logar-text-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 30%;
}

.box-logar-text-description p {
    text-align: justify;
    width: 80%;

    font-size: 1.2rem;
    font-weight: 500;
}

/*footer*/

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    border-top: 8px solid var(--asta-color4);

    background-image: url('../assets/imgs/textura-nav.png');
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 90%;
    width: 75%;
}

.content-footer-t {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 100%;
}

.content-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

.footer-top-column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 90%;
}

.footer-logo {
    font-family: var(--font-blackcover);
    font-size: 2.6rem;

    cursor: pointer;
    transition: 0.5s;
}

.footer-logo:hover {
    color: #000000a2;
}

.footer-logo img {
    height: 25px;
}

.footer-top-column-2,
.footer-top-column-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 90%;
}

.footer-top-column-2 h1,
.footer-top-column-3 h1 {
    font-size: 1.6rem;

    cursor: pointer;
    transition: 0.5s;
}

.footer-top-column-2 h1:hover,
.footer-top-column-3 h1:hover {
    color: #000000a2;
}

.content-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.footer-column-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 30%;
    height: 90%;
}

.footer-column-bottom p {
    text-align: justify;
    font-weight: 500;

    color: #060606c7;
    cursor: pointer;
    transition: 0.3s;
}

.footer-column-bottom p:hover {
    transform: scale(1.02);
}

.footer-column-bottom ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 85%;
    width: 100%;
    gap: 3vw;
    list-style: none;
}

.footer-column-bottom ul li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1vh;
}

.footer-column-bottom ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #060606c7;

    transition: 0.3s;
    cursor: pointer;
}

.footer-column-bottom ul li a:hover {
    color: var(--astaD-color1);
}

.footer-column-bottom-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 30%;
    height: 90%;
}

.footer-column-bottom-2 ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 85%;
    width: 80%;
    list-style: none;
    gap: 1vh;
}

.footer-column-bottom-2 ul li {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.footer-column-bottom-2 ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #060606c7;

    transition: 0.3s;
    cursor: pointer;
}

.footer-column-bottom-2 ul li a:hover {
    color: var(--astaD-color1);
}

.content-footer-b {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    border-top: 1px solid black;
}

.content-footer-b p {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
}